//
// # Icons
//
// No styleguide reference.

.Sprite,
.Sprite16,
.SpFlyoutHandle,
.InformSprite {
  display: inline-block;
  min-width: 1em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-align: center;
}

.SpNotifications {
  &:before { content: @fa-var-globe; }
}

.SpInbox,
.InformSprite.Cabinet,
.InformSprite.MailInbox,
.InformSprite.Drawer {
  &:before { content: @fa-var-inbox; }
}

.SpBookmarks,
.InformSprite.BookmarkRibbon {
  &:before { content: @fa-var-bookmark; }
}

.SpOptions,
.SpFlyoutHandle,
.SpPreferences,
.InformSprite.Gear,
.InformSprite.Gears {
  &:before { content: @fa-var-cog; }
}

.SpActivity,
.InformSprite.Time,
.InformSprite.Stopwatch {
  &:before { content: @fa-var-clock-o; }
}

.SpDiscussion,
.SpComment,
.InformSprite.Bubble,
.InformSprite.ElipsisBubble {
  &:before { content: @fa-var-comment; }
}

.SpDiscussions,
.SpComments {
  &:before { content: @fa-var-comments; }
}

.InformSprite.Redflag {
  &:before { content: @fa-var-tag; }
}

.SpAllCategories,
.InformSprite.Flags {
  &:before { content: @fa-var-tags; }
}

.SpConnection {
  &:before { content: @fa-var-share-alt; }
}

.SpEditProfile,
.SpMyDiscussions,
.InformSprite.SingleUser {
  &:before { content: @fa-var-user; }
}

.SpGroups,
.InformSprite.Group {
  &:before { content: @fa-var-users; }
}

.SpMyDrafts {
  &:before { content: @fa-var-file; }
}

.SpMod,
.InformSprite.Flag {
  &:before { content: @fa-var-flag; }
}

.SpDashboard,
.InformSprite.Dashboard {
  &:before { content: @fa-var-tachometer; }
}

.SpBan {
  &:before { content: @fa-var-ban; }
}

.SpDelete {
  &:before { content: @fa-var-trash-o; }
}

.SpEdit,
.SpApplicants {
  &:before { content: @fa-var-pencil-square-o; }
}

.SpSpam {
  &:before { content: @fa-var-fire; }
}

.SpSignIn {
  &:before { content: @fa-var-sign-in; }
}

.SpSignOut {
  &:before { content: @fa-var-sign-out; }
}

.SpPassword,
.InformSprite.Padlock {
  &:before { content: @fa-var-lock; }
}

.SpPicture,
.InformSprite.WallPicture,
.InformSprite.Photos,
.InformSprite.Landscape {
  &:before { content: @fa-var-picture-o; }
}

.SpThumbnail {
  &:before { content: @fa-var-crop; }
}

.InformSprite.Refresh,
.InformSprite.Recycle {
  &:before { content: @fa-var-refresh; }
}

.InformSprite.Random {
  &:before { content: @fa-var-refresh; }
}

.InformSprite.Magnify {
  &:before { content: @fa-var-search; }
}

.InformSprite.Location,
.InformSprite.Map {
  &:before { content: @fa-var-map-marker; }
}

.InformSprite.Plus {
  &:before { content: @fa-var-plus-square; }
}

.InformSprite.Eye {
  &:before { content: @fa-var-eye; }
}

.InformSprite.Target {
  &:before { content: @fa-var-bullseye; }
}

.InformSprite.Graph,
.InformSprite.Chart,
.InformSprite.Stats {
  &:before { content: @fa-var-bar-chart-o; }
}

.SpMessage,
.InformSprite.Envelope {
  &:before { content: @fa-var-envelope; }
}

.InformSprite.Present {
  &:before { content: @fa-var-gift; }
}

.InformSprite.Thundercloud,
.InformSprite.Zap {
  &:before { content: @fa-var-bolt; }
}

.InformSprite.Star {
  &:before { content: @fa-var-star; }
}

.InformSprite.Heart {
  &:before { content: @fa-var-heart; }
}

.InformSprite.Briefcase,
.InformSprite.Toolcase {
  &:before { content: @fa-var-briefcase; }
}

.InformSprite.Suitcase {
  &:before { content: @fa-var-suitcase; }
}

.InformSprite.Airplane {
  &:before { content: @fa-var-plane; }
}

.InformSprite.FilmRoll,
.InformSprite.FilmStrip,
.InformSprite.FilmStrip2 {
  &:before { content: @fa-var-film; }
}

.InformSprite.Cutlery {
  &:before { content: @fa-var-cutlery; }
}

.InformSprite.Pinetree {
  &:before { content: @fa-var-leaf; }
}

.InformSprite.House {
  &:before { content: @fa-var-home; }
}

.InformSprite.Cloud {
  &:before { content: @fa-var-cloud; }
}

.InformSprite.Download {
  &:before { content: @fa-var-cloud-download; }
}

.InformSprite.Contrast {
  &:before { content: @fa-var-adjust; }
}

.InformSprite.MusicNote {
  &:before { content: @fa-var-music; }
}

.InformSprite.Paperclip {
  &:before { content: @fa-var-paperclip; }
}

.InformSprite.Pin {
  &:before { content: @fa-var-thumb-tack; }
}

.InformSprite.Telephone {
  &:before { content: @fa-var-phone; }
}

.InformSprite.ShoppingCart {
  &:before { content: @fa-var-shopping-cart; }
}

.InformSprite.Calendar {
  &:before { content: @fa-var-calendar; }
}

.InformSprite.Camera {
  &:before { content: @fa-var-camera; }
}

.InformSprite.Book {
  &:before { content: @fa-var-book; }
}

.InformSprite.Check {
  &:before { content: @fa-var-check; }
}

.InformSprite.Headphones {
  &:before { content: @fa-var-headphones; }
}

.InformSprite.Bullhorn {
  &:before { content: @fa-var-bullhorn; }
}

.InformSprite.Bandaid,
.InformSprite.MedicalBag {
  &:before { content: @fa-var-medkit; }
}

.InformSprite.Key {
  &:before { content: @fa-var-key; }
}

.InformSprite.Coffee,
.InformSprite.CoffeeCup {
  &:before { content: @fa-var-coffee; }
}

.InformSprite.Brightness {
  &:before { content: @fa-var-sun-o; }
}

.InformSprite.Microphone {
  &:before { content: @fa-var-microphone; }
}

.InformSprite.Monitor,
.InformSprite.Tv {
  &:before { content: @fa-var-desktop; }
}

.InformSprite.Compass {
  &:before { content: @fa-var-compass; }
}

.InformSprite.Beaker,
.InformSprite.Beaker2,
.InformSprite.Testtube {
  &:before { content: @fa-var-flask; }
}

.InformSprite.Ipod,
.InformSprite.Iphone {
  &:before { content: @fa-var-mobile; }
}

.InformSprite.Lightbulb {
  &:before { content: @fa-var-lightbulb-o; }
}

.SpBestOf,
.InformSprite.Trophy {
  &:before { content: @fa-var-trophy; }
}

.InformSprite.Wineglass {
  &:before { content: @fa-var-glass; }
}

.InformSprite.Beerglass {
  &:before { content: @fa-var-beer; }
}

.InformSprite.Puzzle {
  &:before { content: @fa-var-puzzle-piece; }
}

.InformSprite.Bug {
  &:before { content: @fa-var-bug; }
}

.InformSprite.Controller {
  &:before { content: @fa-var-gamepad; }
}

.InformSprite.Moon {
  &:before { content: @fa-var-moon-o; }
}

.InformSprite.Umbrella {
  &:before { content: @fa-var-umbrella; }
}

.SpQuote {
  &:before { content: @fa-var-quote-left; }
}

.SpSignatures {
  &:before { content: @fa-var-pencil; }
}

.SpUnansweredQuestions {
  &:before { content: @fa-var-question; }
}

.SpWarn {
  &:before { content: @fa-var-warning; }
}

// .InformSprite.Infinity
// .InformSprite.Squiggle
// .InformSprite.Skull
// .InformSprite.SkullBones
// .InformSprite.Bird
// .InformSprite.Saturn
// .InformSprite.Spraypaint
// .InformSprite.Gas
// .InformSprite.Battery
// .InformSprite.Outlet
// .InformSprite.Network
// .InformSprite.Signpost
// .InformSprite.Runner
// .InformSprite.Tshirt
// .InformSprite.Radar
// .InformSprite.Baby
// .InformSprite.Ekg
// .InformSprite.Dogpaw
// .InformSprite.Dumbbells
// .InformSprite.Buoy
// .InformSprite.Thermometer
// .InformSprite.Pill
// .InformSprite.Equalizer
// .InformSprite.Palette
// .InformSprite.Gameplan
// .InformSprite.Walk
// .InformSprite.IndexCards
// .InformSprite.Piano
// .InformSprite.Sliders
// .InformSprite.Widescreen
// .InformSprite.Badge
// .InformSprite.Chicken
// .InformSprite.Navigation
// .InformSprite.Balloon
// .InformSprite.Bowandarrow
// .InformSprite.Hanger
// .InformSprite.Piggybank
// .InformSprite.Idcard
// .InformSprite.Food
// .InformSprite.Sock
// .InformSprite.Bone
// .InformSprite.Golf
// .InformSprite.Dice


// Bookmark Icons

a.Bookmark {
  .hide-text();

  &:before {
    &:extend(.Sprite);
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @brand-warning;
    content: @fa-var-star-o;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:before {
      color: @link-color;
    }
  }

  .OptionsMenu + & {
    margin-left: 5px;
  }
}

a.Bookmarked:before {
  content: @fa-var-star;
}

// Box filter ajustments

.FilterMenu .Sprite {
  margin-right: 6px;
}
