@import url("//fonts.googleapis.com/css?family=News+Cycle:400,700");
.navbar {
  font-size: 18px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}
.navbar-default .badge {
  background-color: #000;
  color: #fff;
}
.navbar-inverse .badge {
  background-color: #fff;
  color: #eb6864;
}
.navbar-brand {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f57a00;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #f57a00;
}
.has-error .help-block,
.has-error .control-label {
  color: #eb6864;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #eb6864;
}
.has-success .help-block,
.has-success .control-label {
  color: #22b24c;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #22b24c;
}
.badge {
  padding-bottom: 4px;
  vertical-align: 3px;
  font-size: 10px;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000;
}
.panel-primary .panel-title,
.panel-success .panel-title,
.panel-warning .panel-title,
.panel-danger .panel-title,
.panel-info .panel-title {
  color: #fff;
}
